!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %title Colibri
        / Bootstrap
        %link{:href => "/assets/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
        / Font Awesome
        %link{:href => "/assets/font-awesome.min.css", :rel => "stylesheet"}
          / Web Font
          %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900", :rel => "stylesheet", :type => "text/css"}
            / Custom CSS
            %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
            %script{:src => "/assets/jquery.min.js"}
            %script{:src => "/assets/responsiveslides.min.js"}
            %script{:src => "http://code.jquery.com/jquery-1.8.2.min.js", :type => "text/javascript"}
            %script{:src => "/assets/jquery.carouFredSel-6.2.0-packed.js", :type => "text/javascript"}
            %script{:src => "/assets/bootstrap.min.js", :type => "text/javascript"}
  %body
    .row
      .col-sm-2
        .header12
          Our Vision
      
      .col-sm-6
        .p#p2 To Create a World of Security for Living by Nurturing Life around us
    %br
    .row
      .col-sm-2
        .header12
          Our Mission
      .col-sm-6
        .p#p2  To be a Non Profit Voluntary Organization focused on Empowering Women, Children & Old Age
    %br
    .row
      .col-sm-2
        .header12
          Our Philosophy
      .col-sm-6
        .p#p2 To Live and Let Live
    %br
    .row
      .col-sm-2
        .header12
          Our Work Methodology:
      .col-sm-6
        .p#p2 W : Work Focused
        %br
        .p#p2 I : Identify Individual Strengths
        %br
        .p#p2 G : Groom & Enhance Skills
        %br
        .p#p2 A : Assemble Opportunities for Living
