!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %title Colibri
        / Bootstrap
        %link{:href => "/assets/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
        / Font Awesome
        %link{:href => "/assets/font-awesome.min.css", :rel => "stylesheet"}
          / Web Font
          %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900", :rel => "stylesheet", :type => "text/css"}
            / Custom CSS
            %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
            %script{:src => "/assets/jquery.min.js"}
            %script{:src => "/assets/responsiveslides.min.js"}
            %script{:src => "http://code.jquery.com/jquery-1.8.2.min.js", :type => "text/javascript"}
            %script{:src => "/assets/jquery.carouFredSel-6.2.0-packed.js", :type => "text/javascript"}
            %script{:src => "/assets/bootstrap.min.js", :type => "text/javascript"}
  %body
    .row
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          President
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/of2.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Sangeeta Verma
        .p#p2 MD of Horizon Business Services Pvt. Ltd. & an HR professional with 20 years professional expertise in Operations, Strategic Relationship Management, Personnel Management & extensive experience that encompasses Corporate HR Practices & Recruitment for US, UK & Indian Market exploring almost all Industry Verticals.
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Vice President 
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/of3.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Sheila Ram Mohan
        .p#p2 An internationally Certified Success Coach & Master Spirit Life Coach and NLP-K practitioner, is an acknowledged expert with more than three decades of hands-on experience in brand building, strategy planning and entrepreneurship.
    %br
    .row
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Secretary
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/of4.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Rohini Naidu
        .p#p2 Dale Carnegie Certified Trainer with 15 years of proven experience in the field of Training & Development. An astute professional with qualitative experience in Communication skills, Soft Skills Training and Personality development.
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Asst. Secretary
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/1234.png" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Shanthipriya Midde
        .p#p2 versatile administrative professional with 7 years of experience in Academic Administration, Operations, facilities management in Educational Institution, NGO and Government Body and 11 years of teaching and mentoring experience.
    %br
    .row
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Treasurer
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/gopika.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Gopika U K
        .p#p2 CEO of Ostrya Labs. An enterprising entrepreneur with 13+ year exp. in IT industry. She also heads a firm concentrating on basic skills training for college students which would help them be independent and face challenges out in the corporate world.
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Communi cator
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/title239499209.png" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Devi Sheshadri
        .p#p2 Information Technology (IT) Solutions Services Consultant. (Sales &Marketing) Offering over 18+ years’ of quantifiable and qualitative enterprise sales experience in Channel & Direct Sales to MNCs.
    %br
    .row
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Administrator
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/of5.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Afroze Shabana
        .p#p2 Branding and Communication Strategist with 16+ years varied experience in creating winning brands and promotions that increases brand awareness and overall sales. 
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Marketing & Branding Head
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/of6.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Madhavi Alapati
        .p#p2 Manager Clients & Industries Studio, GTS at Deloitte with 13+ years varied experience starting from being Associated Professor at Engineering College to managing roles of Employee Advisory Council, Lead - Center Of Excellence, Core committee - Knowledge Asset management, Member - Technology Employees Council, Lead - School On Wheels, a Community Involvement thread at Software Industry.
    %br
    .row
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Asst Marketing & Branding Head
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/kiran.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          Kiran Rao
        .p#p2 Marketing professional with a passion for advocacy and social justice by working on the front lines. She have worked for various corporates in varied roles and responsibilities and worked with International NGOs Rotary and Inner Wheel .
      .col-sm-1.col-md-1.col-xs-1
        %br
        %br
        .letterP3
          Legal Advisor
      .col-sm-2.col-md-2.col-xs-2
        %img.img-circle{:src => "/assets/ing.jpg" , :width => "100%" , :height => "100%"}
      .col-sm-3.col-md-3.col-xs-3
        .header12
          
        .p#p2 
